.cart-empty-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.cart-empty-img {
  width: 180px;
  height: 190px;
}

@media screen and (min-width: 768px) {
  .cart-empty-img {
    width: 360px;
    height: 380px;
  }
}

.cart-empty-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .cart-empty-heading {
    font-size: 32px;
  }
}

.shop-now-btn {
  background-color: #3b82f6;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 25px;
}
